{
    "request": {
        "method": "POST",
        "url": "/soap/user"
    },
    "response": {
        "status": 200,
        "headers": {
            "Content-type": "text/xml;charset=UTF-8"
        },
        "body": "<xml><soapenv:Envelop></soapenv:Envelop></xml>"
    }
}