{
  "request": {
    "method": "GET",
    "url": "/get/estimate"
  },
  "response": {
    "status": 200,
    "headers": {
      "Content-Type": "application/json"
    },
    "jsonBody": {
      "name": "Test user",
      "score": 78
    }
  }
}