{
  "priority": 1,
  "request": {
    "method": "GET",
    "urlPattern": "/user/get/5"
  },
  "response": {
    "status": 200,
    "headers": {
      "Content-Type": "application/json"
    },
    "jsonBody": {
      "id": 5,
      "name": "Super name",
      "surname": "Super surname",
      "course": "QA",
      "email": "test@test.test",
      "age": 23,
      "number": 789123456
    }
  }
}