{
  "platformName": "Android",
  "appium:platformVersion": "{{ android_platform_version }}",
  "appium:deviceName": "{{ android_device }}",
  "appium:app": "{{ test_app_destination }}",
  "appium:automationName": "UiAutomator2",
  "appium:autoGrantPermissions": true,
  "appium:autoAcceptAlerts": true,
  "appium:noReset": false,
  "appium:fullReset": false,
  "appium:newCommandTimeout": 300,
  "appium:appWaitForLaunch": true,
  "appium:gpsEnabled": true,
  "appium:wifiEnabled": true,
  "appium:locale": "en_US",
  "appium:language": "en",
  "appium:adbPort": 5555,
  "appium:adbExecTimeout": 20000,
  "appium:uiautomator2ServerInstallTimeout": 60000,
  "appium:appWaitDuration": 30000
}