[ggr]
listen = ":4444"
timeout = "60s"
guests_allowed = true
guests_quota = "default"
quota_dir = "/etc/grid-router/quota"

[[nodes]]
name = "selenoid-1"
url = "http://selenoid-1:4444"
weight = 1

[[nodes]]
name = "selenoid-2"
url = "http://selenoid-2:4444"
weight = 1